:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --main-title-color: #ffffff;
  --accent-color: tomato;
}

/* HEDER!!!!!!!!!!!!! */

/* герой!!!!!!!! */

/* опис!!!!!!!!! */

/* РОБОТА фото!!!!!!! */

/* ПРАЦІВНИКИ!!!!!! */

/* клієнти!!!! */

/* ФУтер!!!!!!!! */

/* -------------ПОРТФОЛІО------------ */

/* MODAL!!!!!! */

/* ФОРМА!!!! */
